.header{
    background-color: #5cbb1d;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.main{
    background-color:orange;
}
.footer{
    background-color:pink;
}
    
.header__nav{
    flex: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
li{
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color:rgb(63, 47, 153);
    font-weight:500;
}
ul{
    display:flex;
    gap: 40px;
}
.main__Playing{
    font-weight:700;
    color:#5cbb1d;
}
.main__needs{
    font-weight:300;
    color:cadetblue;
}
.main__good{
    font-weight: 800;
    color:yellow;
}
.main__talk{
    font-weight:200;
    color:red;
}
.nav__link:hover {
    color:yellow;
}
